<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name=":/src/test/java/techproed/tests/smoketest">
        <classes>
            <class name="techproed.tests.smoketest.Day22_NegativeLoginTest1">
                <methods>
                    <include name="US100208_Negative_Login"/>
                </methods>
            </class>
            <class name="techproed.tests.smoketest.Day22_PositiveLoginTest">
                <methods>
                    <include name="blueRentCars"/>
                    <include name="negative_Login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>